.auth-card {
    background: #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 10px auto;
    border-radius: 6px;
    direction: rtl;
    max-width: 500px;
}