.auth-card {
    background: #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 10px auto;
    border-radius: 6px;
    direction: rtl;
    max-width: 600px;
}

.gender-container {
    display: flex;
}

.gender-container input {
    width: 1px;
    height: 1px;
    padding: 0;
    box-shadow: none;
    background: #ccc;
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: -10
}

.gender-icon {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35), 0 2px 4px rgba(0, 0, 0, 0.05);
    background: white;
    border-radius: 5px;
    height: calc(2.25rem + 2px);
    font-size: 18px;
    display: inline-block;
    padding: 0 7px;
    text-align: center;
    transition: 0.3s;
    line-height: 16px;
    margin: auto;
}

.gender-icon.selected{
    background: yellowgreen;
}

.gender-icon:hover,
.gender-icon:focus {
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.gender-icon img {
    width: 15px
}