.countdown {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.countdown .bloc-time {
    float: left;
    margin: auto;
    text-align: center;
}

.countdown .bloc-time:last-child {
    margin-right: 0;
}

.countdown .count-title {
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}

.countdown .figure {
    position: relative;
    float: left;
    height: 110px;
    width: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2), inset 2px 4px 0 0 rgba(255, 255, 255, .08);
}

.countdown .figure:last-child {
    margin-right: 0;
}

.countdown .figure>span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 5.94em;
    line-height: 113px;
    font-weight: 900;
    color: #de4848;
}

.countdown .figure .top:after,
.countdown .figure .bottom-back:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.countdown .figure .top {
    z-index: 3;
    background-color: #f7f7f7;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    border-radius: 10px 10px 0 0;
    transform: perspective(200px);
}

.countdown .figure .bottom {
    z-index: 1;
}

.countdown .figure .bottom:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, .02);
}

.countdown .figure .bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    overflow: hidden;
    background-color: #f7f7f7;
    border-radius: 10px 10px 0 0;
}

.countdown .figure .bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.countdown .figure .top,
.countdown .figure .top-back {
    height: 50%;
    overflow: hidden;
    backface-visibility: hidden;
}

.countdown .figure .top-back {
    z-index: 4;
    bottom: 0;
    background-color: #fff;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    transform: perspective(200px) rotateX(180deg);
    border-radius: 0 0 10px 10px;
}

.countdown .figure .top-back span {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
}

.countdown .counter-container {
    display: flex
}

@media (max-width: 992px) {
    .countdown .figure {
        width: 60px;
        height: 80px;
        margin-right: 6px;
    }

    .countdown .figure>span {
        font-size: 5.14em;
        line-height: 87px;
        font-weight: 800;
    }

    .countdown .count-title {
        font-size: 28px
    }
}

@media (max-width: 768px) {
    .countdown .figure {
        width: 50px;
        height: 70px;
        margin-right: 4px;
    }

    .countdown .figure>span {
        font-size: 4.7em;
        line-height: 77px;
        font-weight: 800;
    }

    .countdown .count-title {
        font-size: 26px
    }
}

@media (max-width: 576px) {
    .countdown .figure {
        width: 37px;
        height: 54px;
        margin-right: 2px;
    }

    .countdown .figure>span {
        font-size: 4em;
        line-height: 60px;
        font-weight: 800;
    }

    .countdown .count-title {
        font-size: 24px
    }
}

@media (max-width: 300px) {
    .countdown .figure {
        width: 30px;
        height: 45px;
        margin-right: 0;
    }

    .countdown .figure>span {
        font-size: 3.8em;
        line-height: 48px;
        font-weight: 800;
    }

    .countdown .count-title {
        font-size: 20px
    }
}