.transparent-text {
    color: transparent;
    caret-color: transparent;
    -webkit-text-stroke-width: 1px;
    text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-stroke-color: #fff;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 10px;
    animation: text-anim 4s infinite;
    white-space: nowrap;
}

@keyframes text-anim {

    10% {
        letter-spacing: 9px;
        color: white;
    }

    50% {
        color: white;
        letter-spacing: 0;
    }

    55% {
        color: white;
    }
}

@media (max-width: 1200px) {
    .transparent-text {
        font-size: 60px;
    }
}

@media (max-width: 992px) {
    .transparent-text {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .transparent-text {
        font-size: 40px;
    }
}

@media (max-width: 576px) {
    .transparent-text {
        font-size: 30px;
        letter-spacing: 5px;
    }

    @keyframes text-anim {

        10% {
            letter-spacing: 4px;
            color: white;
        }

        50% {
            color: white;
            letter-spacing: 0;
        }

        55% {
            color: white;
        }
    }
}