.first-page {
    padding-top: 50px;
    background: url('../images/fback.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.transparent-text {
    color: transparent;
    caret-color: transparent;
    -webkit-text-stroke-width: 1px;
    text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-stroke-color: #fff;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 10px;
    animation: text-anim 4s infinite;
    white-space: nowrap;
}

@keyframes text-anim {

    10% {
        letter-spacing: 9px;
        color: white;
    }

    50% {
        color: white;
        letter-spacing: 0;
    }

    55% {
        color: white;
    }
}

@media (max-width: 1200px) {
    .transparent-text {
        font-size: 60px;
    }
}

@media (max-width: 992px) {
    .transparent-text {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .transparent-text {
        font-size: 40px;
    }
}

@media (max-width: 576px) {
    .transparent-text {
        font-size: 30px;
        letter-spacing: 5px;
    }

    .first-page {
        background: url('../images/fbackmob.jpg') no-repeat center center fixed;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
    }

    @keyframes text-anim {

        10% {
            letter-spacing: 4px;
            color: white;
        }

        50% {
            color: white;
            letter-spacing: 0;
        }

        55% {
            color: white;
        }
    }
}



.w-btn {
    margin: 15px auto;
    border: 1px solid white;
    color: white;
    padding: 4px 20px;
    font-size: 30px;
    border-radius: 10px;
    transition: 0.5s;
    font-weight: 800;
}

.w-btn:hover,
.w-btn:focus {
    cursor: pointer;
    background: white;
    color: #272A43;
    text-decoration: none;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#what-page,
#faq-page,
#about-page,
#team-page {
    padding: 10px 0;
    color: white;
}

#what-page,
#faq-page {
    background: rgb(56, 59, 82);
}

h2 {
    font-size: 40px;
    line-height: 80px;
    font-weight: 800;
}

b {
    font-weight: 900;
}

p {
    font-size: 18px;
    line-height: 32px;
}

@media (max-width: 576px) {
    h2 {
        font-size: 35px;
        line-height: 60px;
        font-weight: 800;
    }

    b {
        font-weight: 900;
    }

    p {
        font-size: 15px;
        line-height: 23px;
    }
}

#what-page a {
    color: #10a6ce
}

@keyframes logo_kabar {
    0% {
        background: #272A43;
    }

    70% {
        background: #272A43;
    }
}

@keyframes logo_kabar_img {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(2)
    }

    60% {
        transform: scale(2)
    }

    100% {
        transform: scale(1) translateY(-40vh)
    }
}

.kabar-logo {
    will-change: height;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    animation: logo_kabar 2s;
    pointer-events: none;
    z-index: 1000
}

.kabar-logo img {
    width: 260px;
    animation: logo_kabar_img 2s forwards;
}

@media (max-width: 576px) {
    .kabar-logo img {
        width: 210px;
    }

    @keyframes logo_kabar_img {
        0% {
            transform: scale(1)
        }

        50% {
            transform: scale(1.5)
        }

        60% {
            transform: scale(1.5)
        }

        100% {
            transform: scale(1) translateY(-30vh)
        }
    }
}