{% extends 'modal/base.html' %}
{% block modal_header %}

<h5 class="modal-title">{% if modal_title %}{{ modal_title }}{% endif %}</h5>

{% endblock %}
{% block modal_content %}

<p class="modal-question">{% if modal_question %}{{ modal_question }}{% endif %}</p>

<div class="my-row">
    <button type="button" class="my-btn mr-auto" style="background: var(--color-4)" data-dismiss="modal">خیر</button>
    <a id="{{ modal_id }}_btn" class="my-btn mr-2" style="background: var(--color-5)">بله</a>
</div>
{% endblock %}