{% extends 'base/base.html' %}
{% load static %}
{% block title %}کابارآمادالاپسته{% endblock title %}
{% block base_content %}
<div style="overflow: hidden; width: 100vw; position: relative">
    {% block game_base_content %}{% endblock game_base_content %}
</div>
{% endblock base_content %}
{% block scripts %}
<script src="{% static 'scripts/kabaramadalapeste/ajaxes.js' %}"></script>
<script src="{% static 'scripts/kabaramadalapeste/base.js' %}"></script>
{% block game_base_scripts %}
{% endblock game_base_scripts %}
{% endblock scripts %}