{% extends 'kabaramadalapeste/base.html' %}
{% load static %}
{% block game_base_styles %}
<link rel="stylesheet" href="{% static 'styles/kabaramadalapeste/game.css' %}" />
{% endblock game_base_styles %}
{% block game_base_content %}
<div id="game-container"></div>


<div class="island-info">
    <div class="island-info-header">
        <h3 class="island-name"><span></span></h3>
        <div class="island-info-header-details my-row text-center" style="direction: rtl; line-height: 14px;">
            <div class="island_kind m-auto">
                <div class="fas fa-question-circle"></div>
                <div class="m-auto"><span></span></div>
            </div>
            <div class="island_persons m-auto">
                <div class="fas fa-users m-auto"></div>
                <div class="m-auto">
                    <span></span>
                    نفر
                </div>
            </div>
        </div>
    </div>
    <div class="island-info-body">
        <div class="island-info-details">
            <div class="my-row">
                <div class="m-auto island-info-question">
                    <img src="{% static 'images/game/test.png' %}" style="height: 60px" />
                    <div><span>حل نشده</span></div>
                </div>
                <div class="m-auto island-info-ganj">
                    <img src="{% static 'images/game/ganj.png' %}" style="height: 60px" />
                    <div><span>باز نشده</span></div>
                    <div class="my-btn need-keys">کلید‌ها</div>
                </div>
            </div>
            <div class="m-auto">
                <div class="m-auto island-info-check-time" style="font-weight: 200; font-size: 10px">
                    <small>تصحیح در</small>
                    <small><span></span></small>
                </div>
            </div>
        </div>
        <div class="mt-1 island-info-action">
            <input id="invest_input" class="mb-2 w-100" type="number" placeholder="مبلغ سرمایه‌گذاری" requierd
                min="1200" max="4800" />
            <a class="my-btn mx-2"></a>
        </div>
    </div>
</div>

<div class="gps">
    <img src="{% static 'images/game/gps.png' %}" />
</div>
<img class="kabaramadalapeste_logo" src="{% static 'images/game/logo.png' %}" />

{% include 'modal/prompt.html' with modal_id='resize_modal' modal_title="تغییر ابعاد" modal_question="آیا مایل به بارگذاری مجدد صفحه هستید؟" %}

{% endblock game_base_content %}
{% block game_base_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/konva/4.2.0/konva.min.js"></script>

<script src="{% static 'scripts/kabaramadalapeste/data.js' %}"></script>
<script src="{% static 'scripts/kabaramadalapeste/init.js' %}"></script>
<script src="{% static 'scripts/kabaramadalapeste/pure.js' %}"></script>
{% if low_q %}
<script>
    Konva.pixelRatio = 1;
</script>
{% endif %}
<script src="{% static 'scripts/kabaramadalapeste/game.js' %}"></script>
{% endblock game_base_scripts %}