{% extends 'kabaramadalapeste/base.html' %}
{% load static %}
{% block game_base_styles %}
<link rel="stylesheet" href="{% static 'styles/kabaramadalapeste/island.css' %}" />
{% endblock game_base_styles %}
{% block game_base_content %}
<div id="island-container"></div>
<div style="position: absolute; z-index: 10; top: 0; left: 0">
    <a href="/game/" class="my-btn my-4 mx-4">بازگشت به نقشه</a>
</div>
<img class="summer_logo" src="{% static 'images/game/logo.png' %}" />

{% include 'modal/prompt.html' with modal_id='resize_modal' modal_title="تغییر ابعاد" modal_question="آیا مایل به بارگذاری مجدد صفحه هستید؟" %}
{% endblock game_base_content %}

{% block game_base_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/konva/4.2.0/konva.min.js"></script>
<script src="{% static 'scripts/kabaramadalapeste/island.js' %}"></script>
{% endblock game_base_scripts %}