{% load static %}

<div class="right-info notification-box my-row">
    <div class="right-info-details">
        <div class="notifications">
            <div></div>
        </div>
    </div>
    <div class="right-info-btn">
        <img src="{% static 'images/game/bell.png' %}" />
    </div>
</div>

<div class="right-info player-info my-row">
    <div class="right-info-details">
        <div>
            <h3></h3>
            <small class="text-right">
                دارایی
            </small>
            <div class="player-propties"></div>
        </div>
    </div>
    <div class="right-info-btn">
        <img src="{% static 'images/game/bagpack.png' %}" />
    </div>
</div>


<div class="right-info exchange-info my-row">
    <div class="right-info-details">
        <div>
            <p>
                در این بخش می‌توانید دارایی خود را با سایر بازیکنان مبادله کنید.
            </p>
            <a class="my-btn w-100 mt-1" href="{% url 'kabaramadalapeste:exchange' %}">مبادله</a>
        </div>

    </div>
    <div class="right-info-btn">
        <img src="{% static 'images/game/exchange.png' %}" />
    </div>
</div>