<div class="right-info player-info my-row">
    <div class="right-info-details">
        <div>
            <h3>خرس مهربون</h3>
            <small class="text-right">
                دارایی
            </small>
            <div>
                <div class="player-item">
                    <span>
                        <b>3 </b>×
                    </span>
                    <img src="{% static 'images/game/coins.png' %}" />
                </div>
            </div>
        </div>
    </div>
    <div class="right-info-btn">
        <img src="{% static 'images/game/bagpack.png' %}" />
    </div>
</div>


<div class="right-info exchange-info my-row">
    <div class="right-info-details">
        <div>
            <p>
                در این بخش می‌توانید دارایی خود را با سایر بازیکنان مبادله کنید.
            </p>
            <a class="my-btn w-100 mt-1" href="{% url 'kabaramadalapeste:exchange' %}">مبادله</a>
        </div>

    </div>
    <div class="right-info-btn">
        <img src="{% static 'images/game/exchange.png' %}" />
    </div>
</div>