<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Meta, title, favicons, CSS, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title>رستایی‌ها</title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <!-- Iranyekan Font and Style -->
    <link rel="stylesheet" href="https://res.cloudinary.com/dclfeq8cv/raw/upload//bibot/font/css/fontiran.min.css">
    <link rel="stylesheet" href="https://res.cloudinary.com/dclfeq8cv/raw/upload//bibot/font/css/style.min.css">

    <!-- Custom Theme Style -->
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">

    {% block styles %}{% endblock %}
</head>

<body class="{%if without_nav %} without_nav {% endif %}">
    {% if messages %}
    <ul class="back_messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    {% include 'base/nav.html' %}

    <div class="base-content">
        {% block base_content %}{% endblock %}
    </div>



    {% block modals %}{% endblock %}
    {% csrf_token %}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- custom scripts -->
    <script src="{% static '/javascripts/custom.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>

</html>