<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Meta, title, favicons, CSS, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' 'unsafe-inline' 'unsafe-eval' data: *; style-src 'self' 'unsafe-inline' 'unsafe-eval' data: *; script-src 'self' 'unsafe-inline' 'unsafe-eval' data: *; img-src 'self' 'unsafe-inline' 'unsafe-eval' data: *; font-src 'self' 'unsafe-inline' 'unsafe-eval' data: * ; object-src 'self' 'unsafe-inline' 'unsafe-eval' data: *">
    {% csrf_token %}

    <title>
        {% block title %}رستایی‌ها{% endblock title %}
    </title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Iranyekan Font and Style -->
    <link rel="stylesheet" href="{% static 'fonts/iranyekan/iranyekan.css' %}">

    <!-- Dima Font and Style -->
    <link rel="stylesheet" href="{% static 'fonts/dima_abdo/DimaAbdo.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/dima_barf/DimaBarf.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/dima_fantasy_2/DimaFantasy2.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/dima_platinum/DimaPlatinum.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/dima_sogand/DimaSogand.css' %}">

    <!-- FontAwesome -->
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <style>
        .fab {
            font-family: "Font Awesome 5 Brands" !important;
        }

        .fas {
            font-family: "Font Awesome 5 Free" !important;
        }
    </style>

    <!-- Custom Theme Style -->
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160800151-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-160800151-1');
    </script>

    {% block styles %}{% endblock %}
</head>

<body
    class="{%if without_nav %} without-nav {% endif %} {%if without_footer %} without_footer {% endif %} {%if nol %} nol {% endif %} iranyekan">
    {% if messages %}
    <ul class="back_messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    {%if not without_nav %} {% include 'base/nav.html' %} {% endif %}

    <div class="base-content {% if not not_nav_padding %} nav-padding {% endif %}">
        {% block base_content %}{% endblock %}
    </div>

    {%if not without_footer %} {% include 'base/footer.html' %} {% endif %}

    {% block modals %}{% endblock %}
    {% csrf_token %}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Custom Scripts -->
    <script src="{% static 'scripts/nav.js' %}"></script>
    <script src="{% static 'scripts/base.js' %}"></script>
    {% block scripts %}{% endblock %}

    <script type="text/javascript">
        window.$crisp = [];
        window.CRISP_WEBSITE_ID = "e342ddf5-9fb9-4297-9927-4aab665c24cb";
        (function () {
            d = document;
            s = d.createElement("script");
            s.src = "https://client.crisp.chat/l.js";
            s.async = 1;
            d.getElementsByTagName("head")[0].appendChild(s);
        })();
    </script>

</body>

</html>