{% load static %}
<div class="footer">
    <div class="container py-3">
        <div class="social-medias">
            <div>
                <a target="_blank" href="http://t.me/rastaiha" class='social-link'><i class="fab fa-telegram-plane"></i></a>
                <a target="_blank" href="https://www.instagram.com/rastaiha/" class='social-link'><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.aparat.com/Rastaiha/%D8%AC%D9%85%D8%B9_%D8%B9%D9%84%D9%85%DB%8C-%D8%AA%D8%B1%D9%88%DB%8C%D8%AC%DB%8C_%26laquo%3B%D8%B1%D8%B3%D8%AA%D8%A7%26raquo" class='social-link'><img src="{% static 'images/aparat_logo.png' %}"/></a>
            </div>
        </div>
    </div>
</div>