{% load static %}
<nav class="navbar navbar-expand-lg my-nav fixed-top rtl-nav">
    <div class="container">
        <a class="navbar-brand" href="/" style="position: relative">
            <div class="nav-logo rasta-logo">
                <img src="{% static 'images/logo.png' %}" alt="rasta">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% comment %} <li class="nav-item">
                    <a class="nav-link hover-shadow {% if request.path == '/' %} activate {% endif %}"
                        href="/">داشبورد</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover-shadow {% if request.path == '/profile/' %} activate {% endif %}"
                        href="/profile/">پروفایل</a>
                </li> {% endcomment %}
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link hover-shadow"
                        href="{% if request.path == '/' %}#about-page{% else %}/about_us{% endif %}">درباره ما</a>
                </li>
                <li class="nav-item">
{#                    <a class="nav-link hover-shadow {% if request.path == '/test_auth_base/' %} activate {% endif %}"#}
{#                        href="/test_auth_base/">ثبت‌نام</a>#}
                </li>
                <li class="nav-item">
                    {% comment %} <a class="nav-link hover-shadow" href="/logout/" style="background: #d3c096;">
                        <i class="fa fa-sign-out-alt"></i>
                    </a> {% endcomment %}
                </li>
            </ul>
        </div>
    </div>
</nav>