{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/auth.css' %}" />
{% endblock %}

{% block base_content %}
<div class="full-page-center-item">
    <div class="container">
        <div class="row">
            <form class="auth-card" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% block auth_form %}{% endblock auth_form %}
            </form>
        </div>
    </div>
</div>
{% endblock base_content %}

{% block scripts %}
<script>
    $('input').change(function () {
        if ($(this).val() !== "") {
            $(this).addClass('not_empty')
        } else {
            $(this).removeClass('not_empty')
        }
    })
</script>
{% block auth_script %}{% endblock auth_script %}
{% endblock scripts %}