{% extends 'auth/base.html' %}
{% load static %}
{% block auth_form %}
{% if not user.is_authenticated %}
<div class="row">
    <h2 class="text-center col-md-12 my-4" style="font-weight: 800">
        ورود به مسابقه
    </h2>

    <div class="col-md-8 mx-auto my-3 material-input">
        <input name="email" type="email" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="fa-input">ایمیل</label>
    </div>

    <div class="col-md-8 mx-auto my-3 material-input">
        <input id="password" name="password" type="password" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="fa-input">گذرواژه</label>
    </div>

    <div class="col-md-8 mx-auto my-3">
        <button class="my-btn w-100" style="font-size: 20px">
            ورود
        </button>
    </div>
</div>
{#<div class="text-center pt-3 pb-2">#}
{#    <span style="color:#777">#}
{#        فراموشی#}
{#    </span>#}
{##}
{#    <a href="/panel/user/forgot_password/">#}
{#        رمز عبور#}
{#    </a>#}
{#</div>#}

<div class="text-center pb-1">
    <span style="color:#777">
        ساختن حساب کاربری -
    </span>
</div>
{% else %}
<div class="row">
    <h2 class="text-center col-md-12 my-4" style="font-weight: 800">
        الان وقت مسابقه نیست!
    </h2>
</div>
{% endif %}
{% endblock auth_form %}
