{% extends 'auth/base.html' %}
{% load static %}
{% block auth_form %}
<div class="row">
    <h2 class="text-center col-md-12 my-4" style="font-weight: 800">
        ثبت‌نام در مسابقه
    </h2>
    <small class="col-md-12 text-right my-1" style="color: #555; font-size: 9px">اطلاعات فردی</small>
    <div class="col-9 col-md-4 my-3 material-input">
        <input name="name" class="fa-input" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="fa-input">نام و نام‌خانوادگی</label>
    </div>
    <div class="col-3 col-md-2 my-3 material-input">
        <div class="gender-container" style="">
            <input id="gender-input" name="gender" required
                oninvalid="this.setCustomValidity('Please select one of these.')" />
            <div class="gender-icon" data-val="Man"><img src="{% static 'images/boy.png' %}" /></div>
            <div class="gender-icon" data-val="Woman"><img src="{% static 'images/girl.png' %}" /></div>
        </div>
        <label class="fa-input active-input-label">جنسیت</label>
    </div>

    <div class="col-md-6 my-3 material-input">
        <input name="city" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="fa-input">شهر</label>
    </div>

    <div class="col-md-6 my-3 material-input">
        <input name="school" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="fa-input">مدرسه</label>
    </div>

    <div class="col-md-6 my-3 material-input">
        <input name="document" type="file" required style="padding: 1px; font-size: 12px;">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="fa-input">تصویر شناسنامه/کارت‌ملی/کارنامه تحصیلی</label>
    </div>

    <small class="col-md-12 text-right my-1" style="color: #555; font-size: 9px">راه ارتباطی</small>
    <div class="col-md-6 my-3 material-input">
        <input type="tel" name="phone" pattern="^(\+98|0)?9\d{9}$" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="fa-input">تلفن همراه</label>
    </div>

    <div class="col-md-6 my-3 material-input">
        <input name="email" type="email" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="fa-input">ایمیل</label>
    </div>

    <div class="col-md-6 my-3 material-input">
        <input id="password" name="password" type="password" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="fa-input">گذرواژه</label>
    </div>

    <div class="col-md-6 my-3 material-input">
        <input id="confirm_password" type="password" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="fa-input">تکرار گذرواژه</label>
    </div>
    <div class="col-md-12 my-2">
        <div class="bibot-captcha" data-sitekey="only-demo" data-lang="fa"></div>
    </div>

    <div class="col-md-12 my-3">
        <button class="my-btn w-100" style="font-size: 20px">
            ثبت‌نام
        </button>
    </div>
</div>
{% endblock auth_form %}

{% block auth_script %}
<script>
    let password = document.getElementById("password"),
        confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("گذرواژه‌ها یکی نیستند");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    $('.gender-icon').click(function () {
        $('.gender-icon').removeClass('selected');
        $(this).addClass('selected');
        $('#gender-input').val($(this).data('val'));
        {#alert($(this).data('val'));#}
        {#alert($('#gender-input').val());#}
    })
</script>
<script src="https://cdn.bibot.ir/bibot.min.js"></script>
{% endblock auth_script %}