<!DOCTYPE html>
<html lang="en">
<body>
<p dir="rtl">
سلام
{{ user.first_name }}!
<br><br>
ثبت‌نام اولیه‌ت با موفقیت انجام شد!
ما به هرکدوم از بچه‌ها یه نامی نسبت می‌دیم و از این به بعد ما تو رو با نام
<strong>
{{ user.username }}
</strong>
می‌شناسیم!
<br><br>
می‌تونی از {اینجا} وارد حسابت بشی و با پرداخت هزینه‌ی بازی به مبلغ ۱۵ هزار تومان ثبت‌نام خودت رو کامل کنی.
<br>
برای خبر گرفتن از جزئیات و اطلاعات لحظه‌به‌لحظه‌ی بازی در
<a href="http://www.t.me/RastaihaOnline">
    کانال تلگرامی‌مون
</a>
عضو شو.
<br><br>
منتظرتیم!
<br>
تیم رستایی‌ها

</p>

</body>
</html>