.right-info {
    position: absolute;
    right: -200px;
    transition: 0.3s;
    direction: rtl;
}

.player-info {
    top: 100px;
}

.exchange-info {
    top: 180px;
}

.right-info.show-details {
    right: 70px;
}

.right-info-btn {
    margin-right: -3px;
    width: 60px;
    height: 50px;
    background: #444;
    border-radius: 40px 0 0 40px;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transform-origin: top right;
}

.right-info-btn img {
    display: block;
    height: 80%;
}

.right-info-btn:hover,
.right-info-btn:focus {
    cursor: pointer;
    background: #3a3a3a;
    transform: scale(1.05, 1.05);
}

.right-info-details {
    width: 200px;
    background: #444;
    border-radius: 0 20px 20px 20px;
    border: 3px solid #ccc;
    color: white;
    padding: 10px;
    text-align: justify;
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exchange-info .right-info-details p {
    font-size: 18px;
    font-weight: 600;
}

.player-proprty {
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
}


.player-proprty span {
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.player-proprty b {
    font-weight: 900;
}

.player-proprty img {
    height: 20px;
    margin-left: 10px;
}

.kabaramadalapeste_logo {
    position: absolute;
    right: 50px;
    top: 5px;
    width: 100px;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
}