{% extends 'base/base.html' %}
{% load static %}
{% block styles %}

{% endblock styles %}

{% block base_content %}
<div class="full-page-center-item" style="direction: rtl; text-align: right; color: white">
    <div class="container">
        <h2>
            مقدمه
        </h2>
        <p>
            جمعی از فارغ‌التحصیلان و دانشجویان خانه‌ی ریاضیات اصفهان با برگزاری رویداد مدرسه‌ی تابستانه‌ی علوم کامپیوتر
            در سال ۱۳۹۶، زمینه‌ی شکل‌گیری جمعی را فراهم کردند که اکنون پس از حدود سه سال از تشکیل آن، با نام «جمع
            علمی-ترویجی رستا» یا به اختصار «رستا» شناخته می‌شود. فعالیت رستا تاکنون در حوزه‌ی آموزشِ پرورشیِ علوم
            کامپیوتر و ریاضی برای دانش آموزان دوره‌‌های متوسطه اول و دوم بوده است.
        </p>

        <h2>
            رسالت و اهداف رستا
        </h2>
        <p>
            رسالت رستا؛ تلاش جهت تحقق «پرورش در دل آموزش صحیح» است.
            <br />
            فعالیت‌هایی که در راستای اهداف زیر باشند توسط رستا برنامه‌ریزی، اجرا، ارزیابی و حمایت می‌شوند:
        </p>
        <ul>
            <li>آموزش علم انسان‌ساز</li>
            <li>ایجاد بسترهای مناسب برای بروز علم (اعم از مهارت‌، حل مسائل واقعی و…)</li>
            <li>پژوهش معطوف به آموزش و روش‌های آموزشی</li>
            <li>گسترش عدالت آموزشی</li>
            <li>شناساندن و ترویج رسالت رستا (گسترش جغرافیایی)</li>
            <li>ایجاد و افزایش مشارکت و دغدغه نسبت به رسالت رستا</li>
            <li>رشد اعضا در ابعادی که با فعالیت‌های رستا مرتبط‌اند</li>
            <li>ارتباط‌گیری، همکاری و حمایت از افراد، نهادها و گروه‌های دیگری که در راستای رسالت رستا فعالیت می‌کنند
            </li>
        </ul>
        <h2>
            فعالیت‌های رستا تاکنون
        </h2>
        <p>
            تیمِ ما با هدف کلیِ رشد و ارتقاءِ جهان‌بینی، فهم و همچنین پایه‌ ریزیِ زندگیِ بهتر و پویاتر برای دانش‌آموزان
            و دانشجویانِ کشور، نام «رستا» را که قریب به هدف پایانیِ بیان شده است و البته مبیّن خوبی برای کلیات اهداف و
            رویکرد تیم مذکور است، برای خود برگزید و با توجه به خاستگاه مذکور، در تابستان ۱۳۹۶ متشکل از دانشجویان
            رشته‌های علوم و مهندسی کامپیوتر، علوم ریاضی و فلسفه دانشگاه‌های برتر کشور نظیر صنعتی شریف، تهران، صنعتی
            اصفهان و ... تشکیل شد.
            </br>
            تیم رستا در طول سه سال فعالیت رسمی خود رویدادهای مختلفی را در قالب مدارس تابستانه و زمستانه و اردوهای
            ریاضی‌ورزی در شهرهای مختلف کشور برگزار کرده است. رویداد‌های برگزار شده توسط رستا به شرح زیر است:
        </p>
        <ul>
            <li>اولین دوره‌ی مدرسه تابستانه علوم کامپیوتر - تابستان ۹۶ - اصفهان - دانش آموزان دوره دوم دبیرستان</li>
            <li>دومین دوره‌ی مدارس کشوری تابستانه علوم کامپیوتر - تابستان ۹۷ – اصفهان و تهران- دانش آموزان دوره دوم
                دبیرستان</li>
            <li>سومین دوره‌ی مدارس کشوری تابستانه علوم کامپیوتر - تابستان ۹8 – اصفهان و تهران- دانش آموزان دوره دوم
                دبیرستان</li>
            <li>اردوی زمستانه‌ی ریاضی‌ورزی 97 - زمستان ۹۷ - سراوان، سیستان و بلوچستان - دانش آموزان دوره اول دبیرستان
            </li>
            <li>اردومسابقه‌ی ریاضی‌گردی- پاییز 98 – عباس‌آباد، مازندران – دانش‌آموزان ششم تا دهمی </li>
            <li>اردوی زمستانه‌ی ریاضی‌ورزی 98 – زمستان 98 – بوشهر – دانش‌آموزان دوره‌ی اول</li>
        </ul>
    </div>
</div>
{% endblock base_content %}
{% block scripts %}
{% endblock scripts %}