<div class="countdown">
    <div class="bloc-time days">
        <div class="counter-container">
            <div class="figure days days-1">
                <span class="top"></span>
                <span class="top-back">
                    <span></span>
                </span>
                <span class="bottom"></span>
                <span class="bottom-back">
                    <span></span>
                </span>
            </div>
            <div class="figure days days-2">
                <span class="top"></span>
                <span class="top-back">
                    <span></span>
                </span>
                <span class="bottom"></span>
                <span class="bottom-back">
                    <span></span>
                </span>
            </div>
        </div>
        <span class="count-title">روز</span>
    </div>
    <div class="bloc-time hours">
        <div class="counter-container">
            <div class="figure hours hours-1">
                <span class="top"></span>
                <span class="top-back">
                    <span></span>
                </span>
                <span class="bottom"></span>
                <span class="bottom-back">
                    <span></span>
                </span>
            </div>
            <div class="figure hours hours-2">
                <span class="top"></span>
                <span class="top-back">
                    <span></span>
                </span>
                <span class="bottom"></span>
                <span class="bottom-back">
                    <span></span>
                </span>
            </div>
        </div>
        <span class="count-title">ساعت</span>
    </div>

    <div class="bloc-time min">
        <div class="counter-container">
            <div class="figure min min-1">
                <span class="top"></span>
                <span class="top-back">
                    <span></span>
                </span>
                <span class="bottom"></span>
                <span class="bottom-back">
                    <span></span>
                </span>
            </div>

            <div class="figure min min-2">
                <span class="top"></span>
                <span class="top-back">
                    <span></span>
                </span>
                <span class="bottom"></span>
                <span class="bottom-back">
                    <span></span>
                </span>
            </div>
        </div>
        <span class="count-title">دقیقه</span>
    </div>

    <div class="bloc-time sec">
        <div class="counter-container">
            <div class="figure sec sec-1">
                <span class="top"></span>
                <span class="top-back">
                    <span></span>
                </span>
                <span class="bottom"></span>
                <span class="bottom-back">
                    <span></span>
                </span>
            </div>

            <div class="figure sec sec-2">
                <span class="top"></span>
                <span class="top-back">
                    <span></span>
                </span>
                <span class="bottom"></span>
                <span class="bottom-back">
                    <span></span>
                </span>
            </div>
        </div>
        <span class="count-title">ثانیه</span>
    </div>
</div>