{% extends 'base/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/countdown.css' %}" />
<link rel="stylesheet" href="{% static 'styles/landing.css' %}" />
{% endblock styles %}
{% block base_content %}

<div class="first-page">
    <div class="container">
        <h1 class="text-center mb-5 transparent-text" style="direction: rtl">منتظر ما باشید!!!</h1>
        {% include 'homepages/countdown.html' %}
    </div>
</div>


{% endblock base_content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="{% static 'scripts/countdown.js' %}"></script>
{% endblock %}