{% extends 'base/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/countdown.css' %}" />
<link rel="stylesheet" href="{% static 'styles/landing.css' %}" />
<link rel="stylesheet" href="{% static 'styles/our_team.css' %}" />
<link rel="stylesheet" href="{% static 'styles/faq.css' %}" />
{% endblock styles %}
{% block base_content %}

<div class="first-page full-page-center-item">
    <div class="container">
        <div class="kabar-logo">
            <img src="{% static 'images/searching.png' %}" />
        </div>
        {% if site_config.is_game_over %}
        <h1 class="text-center mb-5 transparent-text" style="direction: rtl">بازی تموم شد:(</h1>
        <div class="stat-img-container">
            <div style="position: relative">
                <div class="close-stat"><i class="fas fa-times-circle"></i></div>
                <img class="stat-img" src="{{ request.user.participant.stat_image.url }}"
                    data-back="{{request.user.participant.stat_image_with_background.url}}" />
                <div class="w-75 mt-2 mx-auto">
                    <input class="w-100 share-input" value="سوغات من از کابارامادالاپسته :))))">
                </div>
                <div class="share-btns row mt-2">
                    <div class="mx-auto" style="display: flex">
                        <div class="mx-1 share-stat" data-site="telegram"><i class="fab fa-telegram-plane"></i></div>
                        <div class="mx-1 share-stat" data-site="twitter"><i class="fab fa-twitter"></i></div>
                        <div class="mx-1 share-stat" data-site="whatsapp"><i class="fab fa-whatsapp"></i></div>
                        <div class="mx-1 share-stat" data-site="linkedin"><i class="fab fa-linkedin"></i></div>
                    </div>
                </div>
            </div>
        </div>
        {% elif site_config.is_past %}
        <h1 class="text-center mb-5 transparent-text" style="direction: rtl">بازی شروع شد!!!</h1>
        {% else %}
        <h1 class="text-center mb-5 transparent-text" style="direction: rtl">منتظر ما باشید!!!</h1>
        {% include 'homepages/countdown.html' %}
        {% endif %}
        <div class="center-container my-4">
            {% if site_config.is_signup_enabled %}
            <a href="#what-page" class="w-btn mr-1">قضیه
                چیه؟</a>
            {% if not user.is_authenticated %}
            <a href="{% url 'accounts:signup' %}" class="signup-btn ml-1">ثبت‌نام</a>
            {% else %}
            {% if user.is_participant %}
            {% if not user.participant.is_activated %}
            <a href="{% url 'accounts:request' %}" class="signup-btn ml-1">پرداخت</a>
            {% endif %}
            {% endif %}
            {% endif %}
            {% else %}
            <div style="display: flex">
                <a href="#what-page" class="w-btn mr-1">قضیه
                    چیه؟</a>
                {% if not user.is_authenticated %}
                <a class="signup-btn ml-1 mr-auto" style="background: #34aa05; color: white; cursor: default">
                    ثبت‌نام
                    <div style="position: relative">
                        <div class="full-capacity" style="left:-50px">
                            ظرفیت تکمیل شد!
                        </div>
                    </div>
                </a>
                {% else %}
                {% if user.is_participant %}
                {% if not user.participant.is_activated %}
                <a class="signup-btn ml-1 mr-auto" style="background: #34aa05; color: white; cursor: default">
                    پرداخت
                    <div style="position: relative">
                        <div class="full-capacity" style="left:-50px">
                            ظرفیت تکمیل شد!
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="center-container">
            <img src="{% static 'images/scroll.gif' %}" style="width: 30px; display:block" />
        </div>
    </div>
</div>

<div id="what-page" class="py-5">
    <div class="container" style="direction: rtl; text-align: right">
        <h2>قضیه چیه؟</h2>
        <div class="row">
            <div class="col-md-6 order-md-1 mb-4">
                <div class="h_iframe-aparat_embed_frame">
                    <span style="display: block;padding-top: 57%"></span>
                    <iframe src="https://www.aparat.com/video/video/embed/videohash/KMRxC/vt/frame"
                        allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                </div>
            </div>
            <div class="col-md-6 order-md-0">
                <p>
                    تا حالا شده داخل یه بازی سرمایه‌ات فقط هوش و توانایی حل مسئله‌ات باشه؟ تا حالا بازی و ریاضی رو کنار
                    هم دیدی؟ تا حالا به این فکر کردی که چرا یه سری بازی‌ها خسته‌کننده‌ان؟
                    <br />
                    رستا به این سوال‌ها فکر کرده و به جواب‌های هیجان‌انگیزی رسیده؛ بازی بدون تصمیم‌گیری‌ که بازی نیست!
                    پس چند روزی از عید نوروز رو با بازی رستا بگذرون. به مدت سه روز، هر وقتی از ساعت ۱۱ تا ۱۹ که خواستی
                    به استراتژی‌هات فکر کن.
                    <br />
                    ما قراره در رویداد-مسابقه‌ی آنلاینِ
                    <b>
                        «در جست‌وجوی کابارامادالاپسته»
                    </b>
                    دنبال پاسخ‌هامون بیفتیم و
                    تصمیم‌هایی بگیریم که راهی که توی بازی از قبل تعیین نشده رو بسازیم.
                    پس منتظرتونیم تا به همه نشون بدید نقشه‌های خوبی در سرتون برای رسیدن به گنج‌هاتون دارید :)
                    <br />
                    با ما باشید، دوستاتون رو خبر کنید و اگه سوالی هم داشتید همین جا بپرسید با به کانالمون در تلگرام سر
                    بزنید:
                    <a target="_blank" href="http://t.me/rastaiha" style="direction: ltr; display: inline-block">
                        @Rastaiha
                    </a>
                </p>
                {% if not user.is_authenticated %}
                {% if site_config.is_signup_enabled %}
                <a href="{% url 'accounts:signup' %}" class="signup-btn my-2 mx-auto">همین حالا شروع کن</a>
                {% else %}
                <a class="signup-btn my-2 mx-auto" style="background: #34aa05; color: white; cursor: default">همین حالا
                    شروع کن
                    <div style="position: relative;">
                        <div class="full-capacity" style="left:25%">
                            ظرفیت تکمیل شد!
                        </div>
                    </div>
                </a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="about-page" class="py-5">
    <div class="container" style="direction: rtl; text-align: right">
        <h2>درباره ما</h2>
        <p>
            رستا جمعی علمی-ترویجی متشکل از دانشجوهای دانشگاه‌های صنعتی اصفهان، تهران، شریف، اصفهان، بهشتی و ... هست؛
            <br />
            جمعی که در تلاشه تا آموزش تعاملی رو جایگزین آموزش کنکوری و حفظی کنه و با اینکار، علاوه بر یاد دادن محتوای
            علمی به نحوه‌ای موثرتر، تفکر منطقی و خلاقیتِ بچه‌ها رو تقویت کنه و با نشون دادنِ توانمندی‌های بالقوه‌ی
            بچه‌ها به خودشون، اعتماد به نفسِ اونهارو افزایش بده.
        </p>
        <div class="center-container">
            <a href="/about_us" class="my-btn my-3">بیشتر</a>
        </div>
    </div>
</div>

<div id="faq-page" class="py-5">
    <div class="container" style="direction: rtl; text-align: right">
        <h2>سوالات متداول</h2>
        {% include 'homepages/faq_page.html' %}
    </div>
</div>

<div id="team-page" class="py-5">
    <div class="container" style="direction: rtl; text-align: right">
        <h2 class="text-center">تیم رویداد</h2>
        <div class="my-row random-team-list">

        </div>
        <div class="center-container">
            <a href="/our_team" class="my-btn my-3">مشاهده همه</a>
        </div>
    </div>
</div>


{% endblock base_content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="{% static 'scripts/countdown.js' %}"></script>
<script src="{% static 'scripts/our_team.js' %}"></script>
<script src="{% static 'scripts/faq.js' %}"></script>
<script src="{% static 'scripts/landing.js' %}"></script>
<script>
    random_team_list();
</script>
{% endblock %}